<ion-view view-title="Novedades">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Ultimas rutas</div>
      <div class="item item-body">
        <div>
           Ruta por la <b>Serrania de Cuenca</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Mejores rutas </div>
      <div class="item item-body">
        <div>
          Es un buen momento para visitar hayedos y pasear a al sombra
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
